<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <center>
        <h1>Reset Password</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="npw">New Password</label>
            <input type="password" name="npw" id="npw" placeholder="New Password" required>
            <label for="cpw">Confirm Password</label>
            <input type="password" name="cpw" id="cpw" placeholder="Confirm Password" required>
            <button type="submit">SUBMIT</button>
        </form>
    </center>
</body>
</html>